/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="blog"] {
	color: var(--new-red)!important;
}

body{
	background: url(../imagens/bg/img-destaque-3.png)no-repeat center top;
	height: 100%;
}

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-blog.png)no-repeat center top;
		/*background-size: cover;*/
		height: 497px;
		background-attachment: fixed;
	}
	#banner .ml-auto{
		width: 42%;
		background-attachment: fixed;
	}
	#banner h1{
		font-size: 45px;
		height: 100%;
		margin-top: 70px;
		padding-top: 13px;
		padding-bottom: 12px;
		padding-left: 15px;
	}

/* --- conteudo --- */
	.artigo{
		margin-top: 60px;
		max-width: 712px;
	}
	.artigo h2{
		font-size: 26px;
		margin-bottom: 37px;
	}
	.artigo .imagem img{
		height: 286px;
		object-fit: cover;
		border-radius: 20px;
		margin-bottom: 40px;
	}
	.artigo p.font-light{
		font-size: 15px;
		color: #707070;
		margin-bottom: 40px;
	}
	.artigo .row.mx-auto img{
		max-width: 337px;
		height: 266px;
		border-radius: 20px;
		object-fit: cover;
		margin-bottom: 40px;
	}
	.artigo .row img.ml-lg-auto{
		border-radius: 20px;
		object-fit: cover;
		margin-bottom: 40px;
	}
	.artigo .sociais img{
		max-width: 23px;
		transition: .3s;
	}
	.artigo .sociais img:hover{
		margin-top: -5px;
		transition: .3s;
	}
	.artigo #comentarios h2{
		margin-bottom: 30px;
	}
	.artigo #comentarios .media{
		margin-left: 20px;
	}
	.artigo #comentarios .avatar{
		width: 88px;
		height: 88px;
		border: 1px solid var(--new-red);
		border-radius: 50%;
		padding-top: 18px;
		text-align: center;
		margin-right: 20px;
	}
	.artigo #comentarios h3.nome,
	.artigo #comentarios p.data,
	.artigo #comentarios p.comentario{
		font-size: 15px;
		color: var(--new-red);
	}
	.artigo #comentarios h3.nome,
	.artigo #comentarios p.comentario{
		color: #707070;
	}
	.artigo #comentarios p.comentario{
		font-size: 15px;
		line-height: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.artigo #comentarios p.responder{
		font-size: 15px;
		display: inline;
		padding-bottom: 5px;
		color: var(--new-red);
		border-bottom: 1px solid var(--new-red);
	}
	.artigo #comentarios input,
	.artigo #comentarios textarea{
		max-width: 696px;
		width: 100%;
		border-radius: 20px;
		padding-top: 10px;
		padding-left: 10px;
		font-size: 12px;
		border-color: #ccc!important;
	}
	.artigo #comentarios .form-row{
		max-width: 696px;
		margin-left: 20px;
	}
	.artigo #comentarios input{
		margin-bottom: 10px;
	}
	.artigo #comentarios textarea{
		margin-left: 20px;
		padding-top: 15px;
		height: 86px;
	}
	.artigo #comentarios a.btn{
		margin-left: 20px;
		width: 144px;
		height: 29px;
		border-radius: 25px;
		font-size: 10px;
		margin-bottom: 80px;
	}
	.artigo #comentarios a.btn img{
		max-width: 15px;
		margin-left: 5px;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 41%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 39%;
		}
}

@media screen and (max-width: 1200px) {
	/* --- conteudo --- */
		.artigo #comentarios .media{
			margin-left: 0px;
		}
		.artigo #comentarios .form-row,
		.artigo #comentarios textarea{
			margin-left: 0px;
		}
		.artigo #comentarios a.btn{
			margin-left: 0px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 95%;
			margin-top: auto;
			margin-bottom: -30px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-blog.png)no-repeat 23% top;
			background-attachment: fixed;
		}
		#banner .ml-auto{
			margin-bottom: -30px;
		}
		#banner h1{
			text-align: center;
			font-size: 35px;
			margin-top: 70px;
			padding-top: 20px;
		}

	/* --- conteudo --- */
		.artigo{
			margin-top: 40px;
			margin-left: 0px;
		}
		.artigo h2{
			font-size: 26px;
		}
		.artigo .imagem img{
			height: 178px;
		}
		.artigo .row img{
			max-width: 100%;
			max-height: 260px;
			margin-bottom: 20px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.artigo #comentarios h2{
			font-size: 26px;
			margin-bottom: 40px;
		}
		.artigo #comentarios .avatar{
			width: 55px;
			height: 55px;
			padding-top: 12px;
			margin-right: 20px;
		}
		.artigo #comentarios .avatar img{
			max-width: 25px;
		}
		.artigo #comentarios p.comentario{
			margin-left: -65px;
			margin-top: 20px;
		}
		.artigo #comentarios p.responder{
			margin-left: -65px;
			padding-bottom: 5px;
		}
}

@media screen and (max-width: 375px) {
	
}

@media screen and (max-width: 320px) {
	
}