/*import*/
@import url("global.css");
@import url("header-footer.css");

/*a[href*="contato"] {
	color: var(--new-red)!important;
}*/

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-contato.png)no-repeat center top;
		/*background-size: cover;*/
		height: 497px;
		background-attachment: fixed;
	}
	#banner .ml-auto{
		width: 42%;
		background-attachment: fixed;
	}
	#banner h1{
		font-size: 45px;
		height: 79px;
		margin-top: 70px;
		padding-top: 13px;
		padding-left: 15px;
	}
	
/* --- conteudo --- */
	section#conteudo{
		background: url(../imagens/bg/img-destaque-2.png)no-repeat center center;
		height: 100%;
		padding-top: 65px;
		padding-bottom: 75px;
	}

/* --- formulario --- */
	section#conteudo .float-left.shadow{
		max-width: 583px;
		width: 100%;
		padding: 50px 70px 58px 40px;
		background-color: white;
		border-radius: 15px;
	}
	#formulario h2{
		font-size: 25px;
		line-height: 35px;
		margin-bottom: 15px;
	}
	#formulario input,
	#formulario select,
	#formulario textarea{
		border: 0;
		border-radius: 8px;
		height: 43px;
		background-color: #F0F0F0;
		margin-bottom: 18px;
		font-size: 13px;
		color: var(--new-gray-dark);
		padding-left: 15px;
		font-weight: bold;
	}
	#formulario textarea{
		height: 124px;
		padding-top: 10px;
	}
	#formulario a.btn{
		width: 228px;
		height: 43px;
		padding-top: 11px;
	}

/* --- endereco --- */
	section#conteudo .float-right{
		max-width: 379px;
		width: 100%;
	}
	#endereco{
		background-color: white;
		border-radius: 15px;
		padding: 50px 20px 40px 40px;
		margin-bottom: 20px;
	}
	#endereco h2{
		font-size: 25px;
		line-height: 35px;
		margin-bottom: 15px;
	}
	#endereco .media{
		margin-bottom: 8px;
	}
	#endereco .media p{
		font-size: 13px;
		color: var(--new-gray-dark);
	}
	#endereco .d-flex{
		margin-top: 18px;
	}
	#endereco .d-flex a:nth-child(2){
		margin-left: 10px;
		margin-right: 10px;
	}

/* --- trabalhe --- */
	#trabalhe{
		background-color: white;
		border-radius: 15px;
		padding: 35px 75px 33px 75px;
	}
	#trabalhe h2{
		font-size: 25px;
	}
	#trabalhe a.btn{
		padding-top: 10px;
		height: 43px;
		color: white;
	}
	#trabalhe a.btn:hover{
		color: var(--new-red)!important;
	}

/* --- form-trabalhe --- */
	#form-trabalhe{
		background-color: white;
		border-radius: 15px;
		position: relative;
	}
	#form-trabalhe img{
		position: absolute;
		right: 0;
		margin-top: 10px;
		margin-right: 15px;
		cursor: pointer;
	}
	#form-trabalhe .formulario{
		padding: 35px 45px 40px 45px;
	}
	#form-trabalhe h2{
		font-size: 25px;
		margin-bottom: 25px;
	}
	#form-trabalhe input,
	#form-trabalhe label,
	#form-trabalhe textarea{
		border: 0;
		border-radius: 8px;
		height: 43px;
		background-color: #F0F0F0;
		margin-bottom: 16px;
		font-size: 13px;
		color: var(--new-gray-dark);
		padding-left: 15px;
		font-weight: bold;
	}
	#form-trabalhe input[type='file'] {
		display: none
	}
	#form-trabalhe label{
		font-size: 13px;
		color: var(--new-gray-dark);
	 	cursor: pointer;
	 	width: 100%;
	 	padding-top: 10px;
	}
	#form-trabalhe label .float-right{
		background-color: #707070;
		color: white;
		width: 66px;
		height: 19px;
		text-align: center;
		font-size: 9px;
		margin-right: 25px;
		padding-top: 3px;
		border-radius: 10px;
	}
	#form-trabalhe textarea{
		height: 125px;
		padding-top: 10px;
	}
	#form-trabalhe a.btn{
		padding-top: 10px;
		height: 43px;
	}
	
/* --- mapa --- */
	#mapa iframe{
		height: 410px;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 41%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 39%;
		}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 95%;
			margin-top: auto;
			margin-bottom: -30px;
		}
		
	/* --- conteudo --- */
		section#conteudo{
			background: unset;
		}

	/* --- formulario --- */
		section#conteudo .float-left.shadow{
			max-width: 100%;
			margin-bottom: 50px;
		}

	/* --- endereco --- */
		section#conteudo .float-right{
			max-width: 100%;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-contato.png)no-repeat 38% top;
			background-attachment: fixed;
		}
		#banner .ml-auto{
			margin-bottom: -30px;
		}
		#banner h1{
			font-size: 35px;
			height: 79px;
			margin-top: 70px;
			padding-top: 20px;
		}

	/* --- formulario --- */
		section#conteudo .float-left.shadow{
			padding: 50px 15px 40px 15px;
		}
		
	/* --- endereco --- */
		#endereco{
			padding: 45px 20px 40px 20px;
		}

	/* --- trabalhe --- */
		#trabalhe{
			padding: 35px 50px 33px 50px;
		}
		#trabalhe h2{
			font-size: 25px;
		}
		
	/* --- form-trabalhe --- */
		#form-trabalhe .formulario{
			padding: 30px 40px 35px 40px;
		}
		#form-trabalhe h2{
			font-size: 22px;
			margin-bottom: 15px;
		}
		#form-trabalhe input,
		#form-trabalhe label,
		#form-trabalhe textarea{
			height: 38px;
			margin-bottom: 13px;
			font-size: 11px;
		}
		#form-trabalhe label{
			font-size: 11px;
		}
		#form-trabalhe label .float-right{
			width: 59px;
			height: 16px;
			font-size: 8px;
			margin-right: 20px;
		}
		#form-trabalhe textarea{
			height: 110px;
		}
		#form-trabalhe a.btn{
			padding-top: 9px;
			height: 38px;
		}	
}

@media screen and (max-width: 375px) {
	/* --- trabalhe --- */
		#trabalhe{
			padding: 35px 45px 33px 45px;
		}
		#trabalhe h2{
			font-size: 20px;
		}

	/* --- form-trabalhe --- */
		#form-trabalhe .formulario{
			padding: 30px 20px 35px 20px;
		}
}