/*
	CSS que engloba todas as páginas
*/

/* --- fontes --- */
	@font-face {
	    font-family: "Poppins-ExtraBold";
	    src: url("../fonts/Poppins-ExtraBold.ttf");
	}
	@font-face {
	    font-family: "Poppins-Bold";
	    src: url("../fonts/Poppins-Bold.ttf");
	}
	@font-face {
	    font-family: "Poppins-SemiBold";
	    src: url("../fonts/Poppins-SemiBold.ttf");
	}
	@font-face {
	    font-family: "Poppins-Medium";
	    src: url("../fonts/Poppins-Medium.ttf");
	}
	@font-face {
	    font-family: "Poppins-Light";
	    src: url("../fonts/Poppins-Light.ttf");
	}
	@font-face {
	    font-family: "Poppins-LightItalic";
	    src: url("../fonts/Poppins-LightItalic.ttf");
	}
	@font-face {
	    font-family: "Poppins-Black";
	    src: url("../fonts/Poppins-Black.ttf");
	}

	.font-extra-bold{
		font-family: "Poppins-ExtraBold";
	}
	.font-bold{
		font-family: "Poppins-Bold";
	}
	.font-semi-bold{
		font-family: "Poppins-SemiBold";
	}
	.font-medium{
		font-family: "Poppins-Medium";
	}
	.font-light{
		font-family: "Poppins-Light";
	}
	.font-light-italic{
		font-family: "Poppins-LightItalic";
	}
	.font-black{
		font-family: "Poppins-Black";
	}

/* --- cores --- */
	:root{
		--new-red:#A60011;
		--new-wine:#6B0C0D;
		--new-black:#242F36;
		--new-gray-dark:#515B61;
		--new-gray:#AAAAAA;
	}

	.bg-red{
		background-color: var(--new-red)!important;
	}
	.bg-wine{
		background-color: var(--new-wine);
	}
	.bg-black{
		background-color: var(--new-black)!important;
	}
	.bg-gray-dark{
		background-color: var(--new-gray-dark);
	}
	.bg-gray{
		background-color: var(--new-gray);
	}

	.text-red{
		color: var(--new-red);
	}
	.text-wine{
		color: var(--new-wine);
	}
	.text-black{
		color: var(--new-black);
	}
	.text-gray-dark{
		color: var(--new-gray-dark);
		/*opacity: .7;*/
	}
	.text-gray{
		color: var(--new-gray);
	}

/* --- outros --- */
	body{
		font-family: "Poppins-Light";
		color: var(--new-gray);
	}
	a:hover{
		text-decoration: none;
	}
	
	.container{
		max-width: 980px!important;
	}
	.btn-red{
		border: 1px solid var(--new-red);
		background-color: transparent;
		color: var(--new-red);
		border-radius: 8px;
		font-size: 13px;
		transition: .3s;
	}
	.btn-red:hover{
		background-color: var(--new-red);
		color: white;
		transition: .3s;
	}

	.btn-red-2{
		border: 1px solid var(--new-red);
		background-color: var(--new-red);
		color: white;
		border-radius: 8px;
		font-size: 13px;
		transition: .3s;
	}
	.btn-red-2:hover{
		background-color: transparent;
		color: var(--new-red);
		transition: .3s;
	}

	.btn-white{
		border: 1px solid white;
		background-color: transparent;
		color: white;
		border-radius: 8px;
		font-size: 13px;
		transition: .3s;
	}
	.btn-white:hover{
		background-color: white;
		color: var(--new-red);
		transition: .3s;
	}

	.btn-white-2{
		border: 1px solid white;
		background-color: white;
		color: var(--new-red);
		border-radius: 8px;
		font-size: 13px;
		transition: .3s;
	}
	.btn-white-2:hover{
		background-color: transparent;
		color: white;
		transition: .3s;
	}

	hr.border-red{
		max-width: 99px;
		margin-left: 0;
		height: 4px;
		background-color: var(--new-red);
		margin-top: 0;
		margin-bottom: 10px;
	}

	hr.border-red-2{
		max-width: 51px;
		margin-left: 0;
		height: 2px;
		background-color: var(--new-red);
		margin-top: 0;
		margin-bottom: 10px;
	}

	hr.border-white{
		max-width: 173px;
		margin-left: 0;
		height: 2px;
		background-color: white;
		margin-top: 0;
		margin-bottom: 10px;
	}

/* --- newsletter --- */
	#newsletter{
		background-color: var(--new-red);
		padding-top: 50px;
		padding-bottom: 42px;
	}
	#newsletter hr{
		max-width: 99px;
		height: 3px;
	}
	#newsletter h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	#newsletter p{
		font-size: 13px;
	}
	#newsletter input{
		height: 43px;
		border-radius: 8px;
		background-color: transparent;
		border: 1px solid white;
		color: white;
		font-size: 13px;
		padding-left: 15px;
	}
	#newsletter .input-group input{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	#newsletter input::placeholder{
		color: white;
	}
	#newsletter .input-group-text{
		background-color: white!important;
		border-radius: 8px;
		width: 56px;
		margin-left: -10px;
		padding-left: 15px;
	}

/* --- item-fixo --- */
	#item-fixo a.icon-chat,
	#item-fixo a.icon-whatsapp{
		position: fixed;
		right: 25%;
		bottom: 145px;
		transition: .3s;
	}
	#item-fixo a.icon-chat:hover,
	#item-fixo a.icon-whatsapp:hover{
		transform: scale(1.12);
		transition: .3s;
	}
	#item-fixo a.icon-chat{
		bottom: 145px;
	}
	#item-fixo a.icon-whatsapp{
		bottom: 95px;
	}

/* --- blog aside --- */
	.aside{
		max-width: 195px;
		margin-left: 65px;
		margin-top: 60px;
	}
	.aside .input-group{
		border: 1px solid #B0B0AF!important;
		border-radius: 50px;
		height: 34px;
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 0px;
		max-width: 195px;
		background-color: #fff;
	}
	.aside .input-group input{
		padding-top: 0;
		padding-bottom: 0;
		font-size: 11px;
		height: 32px;
	}

	.acessos{
		padding-left: 10px;
	}

	.aside h5{
		margin-top: 24px;
		font-size: 24px;
	}
	.aside hr{
		max-width: 31%;
		background-color: var(--new-red);
		margin-top: 25px;
		margin-bottom: 27px;
		margin-left: 0;
	}
	.aside li{
		list-style: none;
		font-size: 16px;
		margin-bottom: 	11px;
		padding-bottom: 5px;
	}
	.aside li a{
		color: #707070;
		font-weight: bold;
	}
	.aside li.border-bottom{
		max-width: 186px;
	}
	.aside li.border-bottom a{
		line-height: 30px;
	}	
	.aside li a:hover{
		color: var(--new-wine);
	}

	/* --- aside --- */
	.aside .arquivos li{
		margin-bottom: 1px;
	}
	.aside .arquivos li a{
		font-size: 15px;
	}

	/* ---- */

	.aside .cadastro{
		border: 1px solid var(--new-red);
		border-radius: 15px;
		padding: 28px 10px 25px 10px;
	}
	.aside .cadastro p{
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.aside .cadastro input{
		height: 30px;
		font-size: 12px;
		border-radius: 25px;
		margin-bottom: 10px;
		background-color: #F7F7F7;
	}
	.aside .cadastro a.btn{
		/*width: 95px;*/
		height: 29px;
		font-size: 10px;
		border-radius: 25px;
		border: 1px solid var(--new-red);
		background-color: var(--new-red);
		color: white;
	}
	.aside .cadastro a.btn:hover{
		background-color: transparent;
		color: var(--new-red);
	}

/* --- barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	 	width: 8px;
	  	height: 8px;
	}
	::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-wine);
	}
	::-webkit-scrollbar-thumb:horizontal {
	  	background-color: var(--new-wine);
	}

/* --- LGPD --- */
	/* Deixa desabilitado por padrão */
	.js_enabled .lgpd-cookies {
	    display: none;
	}
	  
	.lgpd-cookies {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		width: 85vw;
		border: none;
		border-radius: 0;
		padding: 15px;
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		background: rgba(0, 0, 0, 0.85);
		box-shadow: 2px 1px 20px #00000029;
		border-radius: 10px;
	}
	  
	.lgpd-texto {
		width: 72%;
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
		color: #fff;
	}

	.lgpd-link {
		color: var(--clr-primary);
	}

	.lgpd-link:hover {
		color: var(--clr-primary);
	}

	.lgpd-botao {
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		color: #ffffff;
	}

	.lgpd-botao.continuar {
		border: 1px solid var(--clr-primary);
		border-radius: 8px;
		padding: 10px 15px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.lgpd-botao.continuar:hover {
		color: #ffffff;
		background: var(--clr-primary);
	}

	.lgpd-botao.sair:hover {
		text-decoration: underline;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1660px) {
	
	/* --- item-fixo --- */
		#item-fixo a.icon-chat,
		#item-fixo a.icon-whatsapp{
			right: 21%;
		}

}

@media screen and (max-width: 1440px) {
	
	/* --- item-fixo --- */
		#item-fixo a.icon-chat,
		#item-fixo a.icon-whatsapp{
			right: 11%;
		}

}

@media screen and (max-width: 1200px) {
	
	/* --- item-fixo --- */
		#item-fixo a.icon-chat,
		#item-fixo a.icon-whatsapp{
			right: 6%;
		}

	

}

@media screen and (max-width: 992px) {
	
	/* --- item-fixo --- */
		#item-fixo a.icon-chat,
		#item-fixo a.icon-whatsapp{
			display: none;
		}

}

@media screen and (max-width: 480px) {
	
}