
/* --- header top --- */
	header #top{
		background-color: var(--new-black);
		height: 33px;
	}
	header #top .container{
		padding: 3px 40px 0px;
	}
	header #top a img{
		margin-right: 2px;
		max-width: 19px;
	}
	header #top a p{
		font-size: 10px;
		color: white;
		margin-left: 10px;
	}
	header #top .text-right .input-group{
		max-width: 117px;
		width: 100%;
		margin-left: auto;
		margin-top: 3px;
	}
	header #top .text-right input{
		height: 19px;
		border-radius: 20px 0px 0px 20px;
		background-color: transparent;
		border: 1px solid white;
		border-right: 0px;
		font-size: 7px;
		color: #ffffff;
		padding-right: 0;
	}
	header #top .text-right input::placeholder{
		color: #ffffff80;	
	}
	header #top .text-right .input-group-text{
		background-color: transparent;
		border: 1px solid white;
		border-left: 0px;
		border-radius: 0 20px 20px 0;
		height: 19px;
		padding-right: 6px;
	}
	header #top .text-right .input-group-text img{
		max-width: 11px;
	}
	
/* --- header navegacao --- */
	header{
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	header .navegacao{
		background-color: white;
		padding-left: 40px;
		padding-right: 60px;
		padding-bottom: 5px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	header .navbar-nav{
		margin-top: 5px;
	}
	header .navbar-nav .nav-link {
	    margin-left: 10px;
	    margin-right: 10px;
	}
	header .navbar-nav li a{
	    font-size: 13px;
	    color: var(--new-gray-dark);
	    font-family: "Poppins-Medium";
	    transition: .3s
	}
	header .navbar-nav li a:hover,
	header .navbar-nav li a.active{
		color: var(--new-red);
		transition: .3s
	}

/* --- footer --- */
	footer .footer{
		background: url(../imagens/bg/bg-footer.png)no-repeat center center;
		background-size: cover;
		height: 304px;
		padding-top: 65px;
		padding-bottom: 40px;
	}
	footer .border-white{
		max-width: 99px;
	}
	footer h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	footer p.text-white{
		font-size: 13px;
	}
	footer .redes a img,
	footer .redes a img:hover{
		transition: .3s;
	}
	footer .redes a img:hover{
		margin-top: -8px;
	}
	
	footer .menu{
		padding-left: 60px;
	}
	footer .menu li{
		margin-bottom: 0;
		line-height: 19px;
	}
	footer .menu li a{
		font-size: 13px;
		color: white;
		border-bottom: 1px solid transparent;
	}
	footer .menu li a:hover{
		border-bottom: 1px solid white;
	}

	footer .fale{
		padding-right: 60px;
	}
	footer .fale p{
		line-height: 18px;
	}
	footer .fale p a{
		font-size: 13px;
		color: white;
		border-bottom: 1px solid transparent;
	}
	footer .fale p a:hover{
		border-bottom: 1px solid white;
	}

	footer iframe{
		border-radius: 20px;
		width: 242px;
		height: 167px;
	}

/* --- footer copyright --- */
	footer #copyright{
		position: relative;
		z-index: 2;
		height: 77px;
		padding-top: 20px;
	}
	footer #copyright p{
		font-size: 15px;
		color: #707070;
	}
	footer #copyright img{
		margin-left: 10px;
	}

@media screen and (max-width: 1660px) {

}	

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- header navegacao --- */
		header .navegacao{
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 0px;
		}

	/* --- footer --- */
		footer .footer{
			height: 100%;
		}
		
		footer .menu{
			padding-left: 40px;
		}

		footer .fale{
			padding-right: 20px;
		}

		footer iframe{
			max-width: 242px!important;
			width: 100%!important;
			height: 167px;
		}
}

@media screen and (max-width: 480px) {
	/* --- header top --- */
		header #top .container{
			padding: 3px 20px 0px;
		}

	/* --- footer --- */
		footer .footer{
			height: 100%;
		}
		footer .descricao{
			margin-bottom: 35px;
		}
		
		footer .menu{
			padding-left: 15px;
		}

		footer .fale{
			padding-right: 15px;
		}

		footer iframe{
			margin-top: 20px;
			max-width: 100%!important;
		}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 375px) {
	
}

