/*import*/
@import url("global.css");
@import url("header-footer.css");

/*a[href*="index"] {
	color: var(--new-red)!important;
}*/

/* --- carousel --- */
	#carousel{
		background: url(../imagens/banners/img-carousel.png)no-repeat center center;
		background-size: cover;
		height: 797px;
		background-attachment: fixed;
	}
	#carousel .carousel-item{
		margin-top: 240px;
	}
	#carousel .carousel-item .row{
		position: relative;
	}
	#carousel .carousel-item h1{
		font-size: 45px;
		line-height: 65px;
		margin-left: 20px;
		position: relative;
		z-index: 2;
	}
	#carousel .carousel-item h1 div.bg-wine{
		padding-left: 5px;
		padding-right: 5px;

		height: 42px;
		position: relative;
		top: 12px;
	}
	#carousel .carousel-item h1 div.bg-wine span{
		position: relative;
		top: -14px;
	}
	#carousel .carousel-item a.btn{
		margin-left: 20px;
		margin-top: 15px;
		height: 43px;
		padding-top: 10px;
	}
	#carousel .carousel-item .img-circulo{
		position: relative;
		top: -82px;
		right: -135px;
	}
	#carousel .carousel-item picture{
		position: relative;
    	right: 130px;
    	bottom: 24px;
	}
	#carousel .carousel-item picture img{
    	position: absolute;
    	top: -137px;
    	width: 492px;
    	height: 356px;
    	object-fit: cover;
    	border-radius: 15px;
	}
	#carousel .carousel-item img.img-circulo-interno{
		position: absolute;
		bottom: 70px;
		left: -140px;
		z-index: -1;
	}
	#carousel .carousel-item img.img-circulo-externo{
		position: relative;
		bottom: 50px;
		left: -175px;
	}

/* --- carousel arrows --- */
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		opacity: 1;
	}
	#carousel .carousel-control-prev{
	    left: 16%;
	}
	#carousel .carousel-control-next{
		right: 16%;
	}

/* --- qualidade --- */
	#qualidade{
		position: relative;
		margin-top: -130px;
	}
	#qualidade .row{
		background-color: white;
		max-width: 611px;
		border-top-right-radius: 15px;
		padding-top: 20px;
		padding-bottom: 21px;
		padding-left: 10px;
	}
	#qualidade .col-md-4:nth-child(1),
	#qualidade .col-md-4:nth-child(2){
		border-right: 1px solid #70707040;
	}
	#qualidade h2{
		font-size: 18px;
	}
	#qualidade div.circ-red{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: var(--new-red);
		display: inline-block;
	}
	#qualidade p{
		font-size: 10px;
		margin-bottom: 0;
	}

/* --- numeros --- */
	#numeros .bg-gray{
		background-color: #F0F0F0;
		max-width: 56.3%;
		width: 100%;
		border-bottom-right-radius: 40px;
	}
	#numeros .bg-gray .ml-auto{
		max-width: 60%;
		width: 100%;
	}
	#numeros .bg-gray .row{
		padding: 50px;
	}
	#numeros .bg-gray .col-md-4{
		padding-bottom: 10px;
	}
	#numeros .bg-gray .col-md-4{
		border-right: 1px solid #70707030;
	}
	#numeros .bg-gray .col-md-4:nth-child(1),
	#numeros .bg-gray .col-md-4:nth-child(2),
	#numeros .bg-gray .col-md-4:nth-child(3){
		border-bottom: 1px solid #70707030;
	}
	#numeros .bg-gray .col-md-4:nth-child(3),
	#numeros .bg-gray .col-md-4:nth-child(6){
		border-right: 0px;
	}
	#numeros .bg-gray .col-md-4:nth-child(1) .conteudo,
	#numeros .bg-gray .col-md-4:nth-child(2) .conteudo,
	#numeros .bg-gray .col-md-4:nth-child(3) .conteudo{
		position: relative;
		top: -18px;
	}
	#numeros .bg-gray .col-md-4:nth-child(4) .conteudo,
	#numeros .bg-gray .col-md-4:nth-child(5) .conteudo,
	#numeros .bg-gray .col-md-4:nth-child(6) .conteudo{
		margin-top: 20px;
	}
	#numeros .bg-gray .col-md-4 span{
		font-size: 42px;
	}
	#numeros .bg-gray p{
		font-size: 16px;
		margin-bottom: 0;
	}
	
	#numeros .formulario{
		position: relative;
		top: -130px;
		border-radius: 15px;

		margin-left: 50px;
		width: 299px;
		background-color: white;
		padding: 50px 35px;
	}
	#numeros .formulario h2{
		font-size: 25px;
		line-height: 38px;
	}
	#numeros .formulario input{
		height: 43px;
		border-radius: 8px;
		margin-bottom: 10px;
		background-color: #F0F0F0;
		font-size: 13px;
		padding-left: 15px;
	}
	#numeros .formulario a.btn{
		height: 43px;
		padding-top: 11px;
	}
	#numeros .img-bolinhas{
		position: absolute;
		margin-top: -250px;
		right: 0;
		z-index: -1;
		overflow: hidden;
	}
	#numeros .img-bolinhas img{
		margin-right: -20px;
	}

/* --- img-borda-gray --- */
	.img-borda-gray{
		position: absolute;
		margin-top: -280px;
		overflow: hidden;
		right: 0;
	}
	.img-borda-gray img{
		position: relative;
		right: -280px;
	}

/* --- sobre --- */
	#sobre .row{
		padding-top: 70px;
		padding-bottom: 20px;
	}
	#sobre h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	#sobre p{
		font-size: 13px;
	}
	#sobre a.btn{
		width: 145px;
		height: 43px;
		padding-top: 10px;
		margin-top: 10px;
	}

/* --- especialistas --- */
	#especialistas{
		padding-top: 80px;
		padding-bottom: 60px;
	}
	#especialistas h2{
		font-size: 25px; 
		margin-bottom: 30px;
	}
	#especialistas a.btn{
		width: 228px;
		height: 43px;
		padding-top: 10px;
		font-size: 13px;
	}
	#especialistas .carousel-especialistas{
		max-width: 940px;
		margin: 0 auto;
	}
	#especialistas .slide{
		padding: 15px 0;
		margin-left: 13px;
		margin-right: 13px;
	}
	#especialistas .media{
		width: 289px;
		height: 97px;
		border-radius: 20px;
		padding: 15px 20px;
		box-shadow: 0 .2rem .6rem rgba(0,0,0,.15);
	}
	#especialistas .numero{
		width: 51px;
		height: 51px;
		border-radius: 50%;
		border: 1px solid #242F36;
		font-size: 25px;
		padding-top: 7px;
		text-align: center;
	}
	#especialistas .new-border{
		border-right: 1px solid #EEEEEE;
	    height: 60px;
	    margin: 0px 10px 0 15px;
	}
	#especialistas .media-body{
		padding: 0 20px;
	}
	#especialistas .media-body p{
		font-size: 16px;
		margin-bottom: 0;
	}

	#especialistas .btn-slick-carousel-left,
	#especialistas .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 50px;
		cursor: pointer;
	}
	#especialistas .btn-slick-carousel-left{
		left: -4%;
	}
	#especialistas .btn-slick-carousel-right{
		right: -4%;
	}

/* --- diferencial --- */
	#diferencial{
		background: url(../imagens/bg/bg-diferencial.png)no-repeat center center;
		background-size: cover;
		height: 663px;
		background-attachment: fixed;
	}
	#diferencial h2{
		font-size: 45px;
		line-height: 68px;
		margin-top: 22px;
	}
	#diferencial p.text-white{
		font-size: 13px;
		margin-bottom: 30px;
	}
	#diferencial a.btn{
		width: 228px;
		height: 43px;
		padding-top: 10px;
		font-size: 13px;
	}

	#diferencial .blocos{
		padding-left: 25px;
		margin-top: -20px;
	}
	#diferencial .box{
		background-color: white;
		width: 144px;
		height: 144px;
		border-radius: 15px;
		margin-bottom: 18px;
		padding: 18px 15px;
	}
	#diferencial .box p{
		margin-top: 15px;
		font-size: 10px;
	}
	#diferencial{
		
	}

/* --- img-borda-red --- */
	.img-borda-red{
		position: absolute;
		margin-top: 350px;
		overflow: hidden;
	}
	.img-borda-red img{
		position: relative;
		left: -290px;
	}

/* --- img-destaque --- */
	#img-destaque{
		background: url(../imagens/bg/img-destaque.png)no-repeat center center;
		height: 1420px;
	}

/* --- img-destaque / depoimento --- */
	#img-destaque #depoimento{
		padding-top: 70px;
		padding-bottom: 100px;
	}
	#img-destaque #depoimento h2{
		font-size: 25px;
	}
	#img-destaque #depoimento a.btn{
		width: 175px;
		height: 43px;
		padding-top: 10px;
		font-size: 13px;
	}
	#img-destaque .carousel-depoimento{
		margin-top: 50px;	
	}
	#img-destaque .carousel-depoimento .slide{
		padding-bottom: 20px;
		padding-left: 4px;
		padding-right: 26px;
	}
	#img-destaque .carousel-depoimento .media{
		max-width: 470px;
		width: 100%;
		height: 252px;
		border-radius: 15px;
		padding: 30px 20px;
		border: 1px solid transparent;
		box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 10%);
		transition: .3s;
	}
	#img-destaque .carousel-depoimento .media:hover{
		border: 1px solid var(--new-red);
		transition: .3s;
	}
	#img-destaque .carousel-depoimento img.rounded{
		margin-bottom: 10px;
	}
	#img-destaque .carousel-depoimento hr{
		margin-bottom: 4px;
	}
	#img-destaque .carousel-depoimento h3{
		font-size: 18px;
		margin-bottom: 0;
	}
	#img-destaque .carousel-depoimento p.font-light-italic{
		font-size: 13px;
		color: #AAA;
	}
	#img-destaque .carousel-depoimento p.text-gray-dark{
		font-size: 13px;
		margin-bottom: 0;
		height: 115px;
		overflow-y: auto;
	}
	#img-destaque .carousel-depoimento p.text-gray-dark::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px!important;
	}
	#img-destaque .carousel-depoimento p.text-gray-dark::-webkit-scrollbar-track-piece {
	  	background-color: white;
	  	border: 1px solid var(--new-wine);
	  	border-radius: 10px!important;
	}
	
	#img-destaque .btn-slick-carousel-left,
	#img-destaque .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		bottom: -45px;
		cursor: pointer;
	}
	#img-destaque .btn-slick-carousel-left{
		left: 91.5%;
	}
	#img-destaque .btn-slick-carousel-right{
		right: 1%;
	}

/* --- img-destaque / blog --- */
	#img-destaque #blog{
		padding-top: 23px;
		/*padding-bottom: 100px;*/
	}
	#img-destaque #blog .text-center hr{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 13px;
	}
	#img-destaque #blog h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	#img-destaque #blog p.text-gray-dark{
		font-size: 13px;
	}
	#img-destaque #blog .d-flex{
		margin-top: 50px;
	}
	#img-destaque #blog .box{
		max-width: 308px;
		width: 100%;
		background-color: white;
		border-radius: 15px;
		overflow: hidden;
	}
	#img-destaque #blog .box:nth-child(2){
		margin-left: 25px;
		margin-right: 25px;
	}
	#img-destaque #blog .box .conteudo{
		padding: 25px 25px 30px 25px;
	}
	#img-destaque #blog .box hr.border-red-2{
		margin-bottom: 8px;
	}
	#img-destaque #blog .box h3{
		font-size: 15px;
		margin-bottom: 4px;
	}
	#img-destaque #blog .box p.font-light-italic{
		font-size: 11px;
		color: #AAAAAA;
	}
	#img-destaque #blog .box p.text-gray-dark{
		font-size: 13px;
	}
	#img-destaque #blog .box .text-right{
		margin-top: -10px;
	}
	#img-destaque #blog .box a.text-red{
		font-size: 9px;
		position: relative;
		bottom: -10px;
		padding: 10px;
	}
	#img-destaque #blog .box hr.linha{
		margin: 0;
	}

	#img-destaque .btn-post{
		margin-top: 50px;
	}
	#img-destaque .btn-post a.btn{
		width: 169px;
		height: 43px;
		padding-top: 10px;
		font-size: 13px;
	}

@media screen and (min-width: 1921px) {
	
}

@media screen and (max-width: 1660px) {
	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 12%;
		}
		#carousel .carousel-control-next{
			right: 12%;
		}

	/* --- numeros --- */
		#numeros .bg-gray{
			max-width: 57.2%; 
		}
		#numeros .bg-gray .ml-auto{
			max-width: 65%;
		}
		#numeros .img-bolinhas img{
			margin-right: -150px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 6%;
		}
		#carousel .carousel-control-next{
			right: 6%;
		}

	/* --- numeros --- */
		#numeros .bg-gray{
			max-width: 59%; 
		}
		#numeros .bg-gray .ml-auto{
			max-width: 85%;
		}
		#numeros .img-bolinhas img{
			margin-right: -300px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- carousel arrows --- */
		#carousel .carousel-control-next,
		#carousel .carousel-control-prev{
			display: none;
		}

	/* --- img-borda-red --- */
		.img-borda-red{
			display: none;
		}
}

@media screen and (max-width: 992px) {
	/* --- carousel --- */
		#carousel{
			height: 900px;
		}
		#carousel .carousel-item .img-circulo{
			top: -10px;
			right: -250px;
		}
		#carousel .carousel-item picture{
	    	right: 0px;
		}
		#carousel .carousel-item picture img{
	    	top: -60px;
	    	width: 492px;
	    	height: 356px;
		}
		#carousel .carousel-item img.img-circulo-externo,
		#carousel .carousel-item img.img-circulo-interno{
			display: none;
		}

	/* --- qualidade --- */
		#qualidade{
			margin-top: 0px;
		}
		#qualidade .row{
			max-width: 100%;
		}
		
	/* --- numeros --- */
		#numeros .bg-gray{
			max-width: 100%;
			border-bottom-right-radius: 40px;
			float: none!important;
		}
		#numeros .bg-gray .ml-auto{
			max-width: 100%;
		}
		#numeros .formulario{
			float: none!important;
			top: 0px;

			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		#numeros .img-bolinhas{
			display: none;
		}

	/* --- especialistas --- */
		#especialistas .slide{
			margin-left: 0px;
			margin-right: 0px;
		}
		#especialistas .media{
			margin-left: auto;
			margin-right: auto;
		}
		#especialistas .btn-slick-carousel-left{
			left: 0%;
		}
		#especialistas .btn-slick-carousel-right{
			right: 0%;
		}

	/* --- diferencial --- */
		#diferencial{
			background: url(../imagens/bg/bg-diferencial.png)no-repeat left center;
			background-size: cover;
			height: 890px;
			background-attachment: fixed;
		}
		#diferencial .blocos{
			padding-left: 25px;
			margin-top: 20px;
		}
		
	/* --- img-destaque --- */
		#img-destaque{
			height: 100%;
			padding-bottom: 80px;
		}

	/* --- img-destaque / depoimento --- */
		#img-destaque #depoimento{
			padding-top: 50px;
		}
		#img-destaque .carousel-depoimento .media{
			margin-left: auto;
			margin-right: auto;
		}
		#img-destaque .btn-slick-carousel-left{
			left: 44%;
		}
		#img-destaque .btn-slick-carousel-right{
			right: 44%;
		}

	/* --- img-destaque / blog --- */
		#img-destaque #blog .box{
			margin-bottom: 25px;
		}
}

@media screen and (max-width: 480px) {
	/* --- carousel --- */
		#carousel{
			height: 780px;
		}
		#carousel .carousel-item{
			margin-top: 200px;
		}
		#carousel .carousel-item h1{
			font-size: 28px;
			line-height: 40px;
			margin-left: 0px;
		}
		#carousel .carousel-item h1 div.bg-wine{
			height: 25px;
			top: 12px;
		}
		#carousel .carousel-item h1 div.bg-wine span{
			top: -8px;
		}
		#carousel .carousel-item a.btn{
			margin-left: 0px;
			margin-top: 15px;
			height: 30px;
			padding-top: 6px;
			font-size: 10px;
		}
		
		#carousel .carousel-item picture img{
	    	min-height: 314px;
	    	height: 100%;
		}
		#carousel .carousel-item img.img-circulo-externo,
		#carousel .carousel-item img.img-circulo-interno{
			display: none;
		}

	/* --- qualidade --- */
		#qualidade{
			margin-top: 50px;
			padding-left: 10px;
			padding-right: 10px;
		}
		#qualidade .box{
			margin-bottom: 20px;
			padding: 0 0 20px 0;
			border-right: 0px!important;
			border-bottom: 1px solid #70707040;
		}
		#qualidade .box:last-child{
			border-bottom: 0px;
		}
		
	/* --- numeros --- */
		#numeros .bg-gray{
			background-color: white!important;
			border-bottom-right-radius: 0px;
		}
		#numeros .bg-gray .row{
			padding: 0px;
		}
		#numeros .bg-gray .col-md-4{
			padding-bottom: 0px;
		}
		#numeros .bg-gray .col-md-4{
			border: 1px solid #70707030;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		#numeros .bg-gray .col-md-4:nth-child(1),
		#numeros .bg-gray .col-md-4:nth-child(2){
			border-top: 0px;
		}
		#numeros .bg-gray .col-md-4:nth-child(5),
		#numeros .bg-gray .col-md-4:nth-child(6){
			border-bottom: 0px;
		}
		#numeros .bg-gray .col-md-4:nth-child(1) .conteudo,
		#numeros .bg-gray .col-md-4:nth-child(2) .conteudo,
		#numeros .bg-gray .col-md-4:nth-child(3) .conteudo{
			top: 0px;
		}
		#numeros .bg-gray .col-md-4:nth-child(4) .conteudo,
		#numeros .bg-gray .col-md-4:nth-child(5) .conteudo,
		#numeros .bg-gray .col-md-4:nth-child(6) .conteudo{
			margin-top: 0px;
		}
		
		#numeros .formulario{
			padding: 45px 35px;
		}
		#numeros .formulario h2{
			margin-bottom: 15px;
		}
		
	/* --- sobre --- */
		#sobre .row{
			padding-top: 50px;
			padding-bottom: 0px;
		}
		#sobre img{
			margin-bottom: 50px;
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- especialistas --- */
		#especialistas a.btn{
			margin-top: 30px;
		}	
		#especialistas .new-border{
		    margin: 0px 10px 0 10px;
		}
		#especialistas .btn-slick-carousel-left{
			left: 0%;
		}
		#especialistas .btn-slick-carousel-right{
			right: 0%;
		}

	/* --- diferencial --- */
		#diferencial{
			background: url(../imagens/bg/bg-diferencial.png)no-repeat 20% center;
			background-size: cover;
			height: 890px;
			background-attachment: fixed;
		}
		#diferencial h2{
			font-size: 38px;
			line-height: 45px;
			margin-top: 20px;
		}
		#diferencial p.text-white{
			margin-bottom: 30px;
		}
		#diferencial a.btn{
			width: 193px;
			height: 37px;
			padding-top: 9px;
			font-size: 11px;
		}

		#diferencial .blocos{
			padding-left: 0px;
			margin-top: 50px;
		}
		#diferencial .col-6:nth-child(1) .box,
		#diferencial .col-6:nth-child(3) .box,
		#diferencial .col-6:nth-child(5) .box{
			margin-left: auto;
		}
		#diferencial .col-6:nth-child(2) .box,
		#diferencial .col-6:nth-child(4) .box,
		#diferencial .col-6:nth-child(6) .box{
			margin-right: auto;
		}
		
	/* --- img-destaque / depoimento --- */
		#img-destaque #depoimento{
			padding-top: 50px;
			padding-bottom: 150px;
		}
		#img-destaque #depoimento a.btn{
			margin-top: 70px;
		}
		#img-destaque .carousel-depoimento .slide{
			padding-right: 0px;
		}
		#img-destaque .carousel-depoimento .media{
			display: block;
			max-width: 336px;
			height: 100%;
		}
		#img-destaque .carousel-depoimento .media img{
			display: inline-block!important;
			margin-left: 10px!important;
			margin-right: 10px!important;
			margin-bottom: 30px;
		}		
		#img-destaque .btn-slick-carousel-left{
			left: 40%;
		}
		#img-destaque .btn-slick-carousel-right{
			right: 40%;
		}

	/* --- img-destaque / blog --- */
		#img-destaque #blog .box:nth-child(2){
			margin-left: auto;
			margin-right: auto;
		}
		#img-destaque #blog .box img{
			height: 328px;
			object-fit: cover;
		}
		#img-destaque .btn-post{
			margin-top: 20px;
		}
}

@media screen and (max-width: 400px) {
	/* --- especialistas --- */
		#especialistas .media{
			width: 270px;
			padding: 15px 15px;
		}
		#especialistas .btn-slick-carousel-left,
		#especialistas .btn-slick-carousel-right{
			max-width: 30px;
		}
		#especialistas .numero{
			width: 50px;
			height: 50px;
			font-size: 22px;
		}
		#especialistas .media-body p{
			font-size: 15px;
		}

	/* --- diferencial --- */
		#diferencial h2{
			font-size: 32px;
			line-height: 40px;
		}
		#diferencial p.text-white{
			margin-bottom: 20px;
		}
		#diferencial .blocos{
			margin-top: 40px;
		}
}

@media screen and (max-width: 320px) {
	/* --- especialistas --- */
		#especialistas .media{
			width: 260px;
		}
		#especialistas .btn-slick-carousel-left,
		#especialistas .btn-slick-carousel-right{
			max-width: 25px;
		}

	/* --- diferencial --- */
		#diferencial h2{
			font-size: 28px;
		}

	/* --- img-destaque / depoimento --- */
		#img-destaque .btn-slick-carousel-left{
			left: 35%;
		}
		#img-destaque .btn-slick-carousel-right{
			right: 35%;
		}
}