/*import*/
@import url("global.css");
@import url("header-footer.css");

/*a[href*="solucoes.html"] {
	color: var(--new-red)!important;
}*/

body{
	background: url(../imagens/bg/img-destaque-3.png)no-repeat center 76%;
	height: 100%;
}

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-sobre.png)no-repeat center top;
		/*background-size: cover;*/
		height: 497px;
		background-attachment: fixed;
	}
	#banner .ml-auto{
		width: 42%;
		background-attachment: fixed;
	}
	#banner h1{
		font-size: 45px;
		height: 79px;
		margin-top: 70px;
		padding-top: 13px;
		padding-left: 15px;
	}

/* --- img-bolinhas --- */
	.img-bolinhas{
		position: absolute;
		margin-top: 90px;
		left: 0;
		z-index: -1;
		overflow: hidden;
	}
	.img-bolinhas img{
		max-width: 650px;
		margin-left: -285px;
	}

/* --- sobre --- */
	#sobre .row{
		margin-top: 50px;
		padding-top: 70px;
		padding-bottom: 20px;
	}
	#sobre h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	#sobre p{
		font-size: 13px;
	}
	#sobre a.btn{
		width: 145px;
		height: 43px;
		padding-top: 10px;
		margin-top: 10px;
	}

/* --- missao --- */
	#missao{
		margin-top: 110px;
	}
	#missao .media{
		margin-right: 30px;
		margin-bottom: 35px;
	}
	#missao .media img{
		margin-right: 20px;
	}
	#missao .media hr{
		max-width: 72px;
		height: 3px;
	}
	#missao .media h2{
		font-size: 20px;
		margin-bottom: 15px;
	}
	#missao .media p{
		font-size: 13px;
	}
	
	#missao .imagens{
		position: relative;
	}
	#missao .imagens .icon{
		position: absolute;
		margin-top: -90px;
		margin-left: 15px;
	}
	#missao .imagens img{
		display: block;
		margin-left: auto;
		margin-right: 15px;
	}
	#missao .imagens img.img-1{
		margin-top: -20px;
		margin-bottom: 24px;
	}

/* --- historia --- */
	#historia{
		margin-top: 60px;
		margin-bottom: 85px;
	}
	#historia .barra{
		width: 80%;
		height: 2px;
		background-color: var(--new-red);
		position: relative;
		top: 68px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#historia .slider-nav{
		max-width: 940px;
		margin-left: auto;
		margin-right: auto;
		z-index: 2;
	}
	#historia .slick-track{
		padding-top: 20px;
		padding-bottom: 30px;
	}
	#historia .slider-nav .ano p{
		width: 92px;
		height: 92px;
		border-radius: 15px;
		font-size: 20px;
		margin-bottom: 0;
		padding-top: 30px;
		text-align: center;
		font-family: "Poppins-SemiBold";
		margin-left: auto;
		margin-right: auto;
		color: #242F36;
		background-color: white;
		box-shadow: 0 .2rem .6rem rgba(0,0,0,.15);
		transition: .3s;
	}
	#historia .slider-nav .slick-current.slick-active .ano p{
		color: white;
		background-color: var(--new-red);
		transition: .3s;
	}
	#historia .slider-nav .slick-current.slick-active .ano{
		position: relative;
	}

	#historia .carousel-fotos-descricao .row{
		max-width: 940px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#historia .carousel-fotos-descricao .row .text-left img{
		display: block;
		margin-left: auto;
	}
	#historia .carousel-fotos-descricao .row .text-left h3{
		font-size: 20px;
		margin-bottom: 25px;
	}
	#historia .carousel-fotos-descricao .row .text-left p{
		font-size: 13px;
		color: #515B61;
	}
	#historia .carousel-fotos-descricao .row .imagens img{
		max-width: 196px;
		height: 155px;
		object-fit: cover;
		border-radius: 15px;
	}

/* --- diferencial --- */
	#diferencial{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	#diferencial iframe{
		max-width: 424px;
		width: 100%;
		height: 298px;
		border-radius: 15px;
		overflow: hidden;
	}
	#diferencial .itens{
		margin-left: -8px;
	}
	#diferencial .item{
		max-width: 240px;
		width: 100%;
		color: white;
		border: 1px solid white;
		padding: 25px 33px;
	}
	#diferencial .item h3{
		font-size: 20px;
		margin-bottom: 22px;
	}
	#diferencial .item p{
		font-size: 12px;
		margin-bottom: 0;
	}
	#diferencial .item.dif-1{
		border-top: 0;
		border-left: 0;
		padding-top: 0;
		padding-left: 0;
	}
	#diferencial .item.dif-2{
		border-top: 0;
		border-right: 0;
		padding-top: 0;
		padding-right: 0;
	}
	#diferencial .item.dif-3{
		border-bottom: 0;
		border-left: 0;
		padding-bottom: 0;
		padding-left: 0;
	}
	#diferencial .item.dif-4{
		border-bottom: 0;
		border-right: 0;
		padding-bottom: 0;
		padding-right: 0;
	}
	
/* --- equipe --- */
	#equipe{
		margin-top: 70px;
		/*margin-bottom: 400px;*/
		margin-bottom: 260px;
	}
	#equipe hr{
		margin: 0 auto;
		margin-bottom: 15px;
	}
	#equipe h2{
		font-size: 25px;
		margin-bottom: 50px;
	}
	#equipe .foto{
		position: relative;
		margin-left: 11px;
		margin-right: 11px;
	}
	#equipe .foto:nth-child(1){
		margin-left: 0px;
	}
	#equipe .foto:nth-child(4){
		margin-right: 0px;
	}
	#equipe img{
		max-width: 228px;
		width: 100%;
		height: 282px;
		object-fit: cover;
		border-radius: 16px;
		transition: .3s;
	}
	#equipe .foto .bg-red{
		position: absolute;
		margin-top: -135px;
		width: 384px;
		display: block;
		left: -75px;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 26px 29px 60px 29px;
		border-radius: 20px;
		color: white;
		opacity: 0;
		z-index: 1;
		transition: .3s;
	}
	#equipe .foto h3{
		font-size: 25px;
		margin-bottom: 0px;
	}
	#equipe .foto hr{
		max-width: 117px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#equipe .foto p.font-light-italic{
		font-size: 13px;
	}
	#equipe .foto p.font-light{
		font-size: 12px;
	}
	#equipe img:hover{
		filter: grayscale(100%);
		transition: .3s;
	}
	#equipe .foto:hover .bg-red{
		opacity: 1;
		transition: .3s;
	}

/* --- cta --- */
	#cta{
		background: url(../imagens/bg/bg-cta.png)no-repeat center center;
		background-size: cover;
		height: 254px;
	}
	#cta .ml-auto{
		width: 43%;
	}
	#cta h2{
		background-color: #A6001190;
		font-size: 30px;
		border-top-left-radius: 30px;
		line-height: 45px;
		margin-top: 50px;
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 20px;
	}
	#cta a.btn{
		width: 145px;
		height: 43px;
		padding-top: 12px;
		margin-top: 5px;
	}
	#cta a.btn:hover{
		border-color: white;
		color: white;
	}
	
@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 41%;
		}

	/* --- cta --- */
		#cta .ml-auto{
			width: 42%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 39%;
		}

	/* --- cta --- */
		#cta .ml-auto{
			width: 39%;
		}
}

@media screen and (max-width: 1200px) {
	/* --- equipe --- */
		#equipe .foto{
			margin-left: 11px;
			margin-right: 11px;
			margin-bottom: 22px;
		}
		#equipe .foto:nth-child(1){
			margin-left: 11px;
		}
		#equipe .foto:nth-child(4){
			margin-right: 11px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 95%;
			margin-top: auto;
			margin-bottom: -30px;
		}
		
	/* --- img-bolinhas --- */
		.img-bolinhas{
			display: none;
		}

	/* --- missao --- */
		#missao{
			margin-top: 80px;
		}
		#missao .media{
			margin-right: 0px;
		}
		
		#missao .imagens{
			margin-top: 20px;
		}
		#missao .imagens .icon{
			margin-top: -30px;
			margin-left: 60px;
		}
		#missao .imagens img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		#missao .imagens img.img-1{
			margin-top: 40px;
		}

	/* --- diferencial --- */
		#diferencial{
			padding-top: 60px;
			padding-bottom: 60px;
		}
		#diferencial iframe{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
		#diferencial .itens{
			margin-left: 0px;
		}
		#diferencial .item{
			border: 0;
			padding: 25px 33px;
		}
		#diferencial .item.dif-1,
		#diferencial .item.dif-2,
		#diferencial .item.dif-3,
		#diferencial .item.dif-4{
			padding: 15px 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-sobre.png)no-repeat 38% top;
			background-attachment: fixed;
		}
		#banner .ml-auto{
			margin-bottom: -30px;
		}
		#banner h1{
			font-size: 35px;
			height: 79px;
			margin-top: 70px;
			padding-top: 20px;
		}

	/* --- sobre --- */
		#sobre img{
			width: 100%;
			margin-bottom: 20px;
		}

	/* --- missao --- */
		#missao .imagens{
			margin-top: 20px;
		}
		#missao .imagens .icon{
			max-width: 150px;
			margin-top: -40px;
			margin-left: -20px;
		}

	/* --- historia --- */
		#historia .barra{
			width: 60%;
		}
		#historia .carousel-fotos-descricao .row .text-left img{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
		#historia .carousel-fotos-descricao .row .text-left h3{
			font-size: 20px;
			margin-bottom: 15px;
		}
		#historia .carousel-fotos-descricao .row .imagens img{
			margin-bottom: 15px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- equipe --- */
		#equipe{
			/*margin-top: 70px;*/
			/*margin-bottom: 260px;*/
		}
		#equipe .foto{
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 22px;
		}
		#equipe .foto:nth-child(1){
			margin-left: 0px;
		}
		#equipe .foto:nth-child(4){
			margin-right: 0px;
		}
		#equipe .foto .bg-red{
			/*margin-top: -135px;*/
			max-width: 384px;
			/*left: -75px;*/
			/*right: 0;*/
			/*padding: 26px 29px 60px 29px;*/
		}
		#equipe .foto h3{
			/*font-size: 25px;*/
		}
		#equipe .foto hr{
			/*max-width: 117px;*/
			/*margin-top: 20px;*/
			/*margin-bottom: 20px;*/
		}
		#equipe .foto p.font-light-italic{
			/*font-size: 13px;*/
		}
		#equipe .foto p.font-light{
			/*font-size: 12px;*/
		}

	/* --- diferencial --- */
		#diferencial{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		#diferencial iframe{
			height: 234px;
			margin-bottom: 30px;
		}
		#diferencial .item{
			max-width: 100%;
			border: 0;
		}
		#diferencial .item.dif-1,
		#diferencial .item.dif-2,
		#diferencial .item.dif-3,
		#diferencial .item.dif-4{
			padding: 15px 15px;
		}

	/* --- cta --- */
		#cta{
			background: url(../imagens/bg/bg-cta.png)no-repeat 50% center;
			background-size: cover;
			height: 417px;
		}
		#cta .ml-auto{
			margin-top: 90px;
			width: 90%;
		}
}

@media screen and (max-width: 400px) {
	/* --- missao --- */
		#missao .imagens{
			margin-top: 20px;
		}
		#missao .imagens .icon{
			margin-top: 0px;
			margin-left: -20px;
			max-width: 100px;
		}

	/* --- equipe --- */
		#equipe .foto .bg-red{
			max-width: 315px;
			left: -45px;
		}
}