/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="solucoes.html"] {
	color: var(--new-red)!important;
}

body{
	background: url(../imagens/bg/img-destaque-2.png)no-repeat center 30%;
	height: 100%;
}

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-solucoes-interno.png)no-repeat center top;
		/*background-size: cover;*/
		height: 497px;
		background-attachment: fixed;
	}
	#banner .ml-auto{
		width: 52%;
		background-attachment: fixed;
	}
	#banner h1{
		font-size: 45px;
		height: 100%;
		margin-top: 70px;
		padding-top: 13px;
		padding-bottom: 20px;
		padding-left: 15px;
	}

/* --- img-bolinhas --- */
	.img-bolinhas{
		position: absolute;
		margin-top: -105px;
		right: 0;
		z-index: -1;
		overflow: hidden;
	}
	.img-bolinhas img{
		margin-right: -280px;
		max-width: 650px;
	}

/* --- sobre --- */
	#sobre .row{
		margin-top: 125px;
		margin-bottom: 120px;
	}
	#sobre h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	#sobre p{
		font-size: 15px;
	}
	#sobre a.btn{
		width: 145px;
		height: 43px;
		padding-top: 10px;
		margin-top: 10px;
	}

/* --- diferencial --- */
	#diferencial{
		background: url(../imagens/bg/bg-diferencial-interno.png)no-repeat center center;
		background-size: cover;
		height: 671px;
		background-attachment: fixed;
	}
	#diferencial .container{
		padding-top: 70px;
	}
	#diferencial .item{
		border: 1px solid white;
		max-width: 305px;
	}
	#diferencial .item:nth-child(1),
	#diferencial .item:nth-child(2),
	#diferencial .item:nth-child(3){
		border-top: 0px;
		padding: 0 37px 33px;
	}
	#diferencial .item:nth-child(4),
	#diferencial .item:nth-child(5),
	#diferencial .item:nth-child(6){
		border-bottom: 0px;
		padding: 33px 37px 0;
	}
	#diferencial .item:nth-child(1),
	#diferencial .item:nth-child(4){
		border-left: 0px;
		padding-left: 0;
		max-width: 270px;
	}
	#diferencial .item:nth-child(3),
	#diferencial .item:nth-child(6){
		border-right: 0px;
		padding-right: 0;
		max-width: 280px;
	}
	#diferencial .item img{
		margin-bottom: 15px;
	}
	#diferencial .item h3{
		font-size: 22px;
		margin-bottom: 25px;
		color: white;
	}
	#diferencial .item p{
		font-size: 12px;
		color: white;
		height: 94px;
		overflow-y: auto;
		margin-bottom: 0;
	}
	#diferencial .item p::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px!important;
	}
	#diferencial .item p::-webkit-scrollbar-track-piece {
	  	background-color: transparent;
	  	border: 1px solid white;
	  	border-radius: 10px!important;
	}
	#diferencial .item p::-webkit-scrollbar-thumb:vertical {
	  	background-color: white;
	}
	#diferencial a.btn{
		margin-top: 30px;
		width: 145px;
		height: 43px;
		padding-top: 10px;
	}

/* --- perguntas --- */
	#perguntas{
		margin-top: 130px;
	}
	#perguntas h2{
		font-size: 25px;
		margin-bottom: 45px;
	}
	#perguntas .accordion{
		margin-bottom: 135px;
	}
	#perguntas .accordion .card{
		background-color: var(--new-red);
		border: 1px solid var(--new-red)!important;
		border-radius: 25px;
		margin-bottom: 12px;
		box-shadow: 0 .2rem .6rem rgba(0,0,0,.15);
		overflow: hidden;
		transition: .3s;
	}
	#perguntas .accordion .card-header{
		min-height: 50px;
		height: 100%;
		padding: 8px 5px 0 5px;
	    background-color: white;
	    border-bottom: 0;
	    transition: .3s;
	}
	#perguntas .accordion .float-left{
		max-width: 850px;
		width: 100%;
	}
	#perguntas .accordion button.font-medium{
		font-size: 18px;
		line-height: 20px;
		white-space: normal!important;
		text-align: left;
		color: var(--new-red);
		text-decoration: none;
		margin-bottom: 5px;
	}
	#perguntas .accordion button.icon:before{
		content: url(../imagens/logos/icon-seta.png);
	}
	#perguntas .accordion .card-body{
		margin: 0px 20px 45px 20px;
		padding: 18px 0 0 0;
		border-top: 1px solid #ffffff90;
		transition: .3s;
	}
	#perguntas .accordion .card-body p{
		font-size: 15px;
		margin-bottom: 0px;
	}
	#perguntas .accordion .card-header[aria-expanded="true"] {
		background-color: var(--new-red);
		transition: .3s;
	}
	#perguntas .accordion .card-header[aria-expanded="true"] button.font-medium{
		color: white;
	}
	#perguntas .accordion .card-header[aria-expanded="true"] button.icon{
		transform: rotate(180deg)!important;
		transition: .3s;
	}
	#perguntas .accordion .card-header[aria-expanded="true"] button.icon:before{
		filter: brightness(0) invert(1);
	}
	#perguntas .accordion .card:hover{
		border: 1px solid var(--new-red)!important;
		transition: .3s;
	}

/* --- ligamos --- */
	#ligamos{
		background: url(../imagens/bg/bg-ligamos.png)no-repeat center center;
		height: 417px;
		background-size: cover;
	}
	#ligamos .container{
		padding-top: 28px;
	}
	#ligamos .bg-red{
		max-width: 273px;
		width: 100%;
		border-radius: 15px;
		padding: 43px 35px 45px 30px;
		margin-right: 45px;
	}
	#ligamos hr{
		max-width: 90px;
	}
	#ligamos h2{
		font-size: 22px;
		line-height: 32px;
		margin-bottom: 14px;
	}
	#ligamos input{
		height: 39px;
		background-color: transparent;
		border: 1px solid #6B0C0D;
		border-radius: 8px; 
		margin-bottom: 9px;
		font-size: 12px;
	}
	#ligamos input,
	#ligamos input::placeholder{
		color: white;	
	}
	#ligamos a.btn{
		height: 39px;
		padding-top: 10px;
		font-size: 11px;
		font-weight: bold;
	}

/* --- outros segmentos --- */
	#outros-segmentos{
		margin-top: 65px;
		margin-bottom: 65px;
	}
	#outros-segmentos .text-center hr{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 13px;
	}
	#outros-segmentos h2{
		font-size: 25px;
		margin-bottom: 50px;	
	}
	#outros-segmentos .item{
		max-width: 464px;
		background-color: white;
		width: 100%;
		height: 224px;
		border-radius: 15px;
		box-shadow: 0 .2rem .6rem rgba(0,0,0,.15);
		margin-left: 13px;
		margin-right: 13px;
		overflow: hidden;
		margin-bottom: 32px;
	}
	#outros-segmentos .item .imagem{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 224px;
	}
	#outros-segmentos .img-1{
		background-image: url(../imagens/solucoes/img-solucao-1.png);
	}
	#outros-segmentos .img-2{
		background-image: url(../imagens/solucoes/img-solucao-2.png);
	}
	#outros-segmentos .img-3{
		background-image: url(../imagens/solucoes/img-solucao-3.png);
	}
	#outros-segmentos .img-4{
		background-image: url(../imagens/solucoes/img-solucao-4.png);
	}
	#outros-segmentos .img-5{
		background-image: url(../imagens/solucoes/img-solucao-5.png);
	}
	#outros-segmentos .img-6{
		background-image: url(../imagens/solucoes/img-solucao-6.png);
	}
	#outros-segmentos .img-7{
		background-image: url(../imagens/solucoes/img-solucao-7.png);
	}
	#outros-segmentos .img-8{
		background-image: url(../imagens/solucoes/img-solucao-8.png);
	}
	#outros-segmentos .item .desc{
		padding: 26px 25px 22px 22px
	}
	#outros-segmentos .item hr{
		max-width: 45px;
		height: 2px;
		margin-bottom: 5px;
	}
	#outros-segmentos .item h3{
		font-size: 15px;
		line-height: 24px;
		margin-right: 5px;
	}
	#outros-segmentos .item p{
		font-size: 12px;
		margin-bottom: 0;
		height: 58px;
		overflow-y: auto;
	}
	#outros-segmentos .item p::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px!important;
	}
	#outros-segmentos .item p::-webkit-scrollbar-track-piece {
	  	background-color: white;
	  	border: 1px solid var(--new-red);
	  	border-radius: 10px!important;
	}
	#outros-segmentos .item p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-red);
	}
	#outros-segmentos .item a.btn{
		margin-top: 12px;
		width: 130px;
		height: 43px;
		font-size: 13px;
		padding-top: 11px;
		position: absolute;
		bottom: 20px;
	}

	#outros-segmentos .btn-slick-carousel-left,
	#outros-segmentos .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		bottom: -15px;
		cursor: pointer;
	}
	#outros-segmentos .btn-slick-carousel-left{
		left: 46.5%;
	}
	#outros-segmentos .btn-slick-carousel-right{
		right: 46.5%;
	}
	
@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 52%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 54%;
		}
}

@media screen and (max-width: 1200px) {
	body{
		background: url(../imagens/bg/img-destaque-2.png)no-repeat center 25%;
	}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 95%;
			margin-top: auto;
			margin-bottom: -30px;
		}
		
	/* --- diferencial --- */
		#diferencial{
			height: 100%;
			padding-bottom: 30px;
			background-attachment: fixed;
		}
		#diferencial .container{
			padding-top: 40px;
		}
		#diferencial .item{
			border: 0;
			max-width: 305px;
			margin-bottom: 20px;
		}
		#diferencial .item:nth-child(1),
		#diferencial .item:nth-child(2),
		#diferencial .item:nth-child(3){
			padding: 0px 30px;
		}
		#diferencial .item:nth-child(4),
		#diferencial .item:nth-child(5),
		#diferencial .item:nth-child(6){
			padding: 0px 30px;
		}
		#diferencial .item:nth-child(1),
		#diferencial .item:nth-child(4){
			max-width: 305px;
		}
		#diferencial .item:nth-child(3),
		#diferencial .item:nth-child(6){
			max-width: 305px;
		}
		#diferencial a.btn{
			margin-top: 15px;
			width: 160px;
		}

	/* --- perguntas --- */
		#perguntas{
			margin-top: 50px;
		}
		#perguntas .accordion{
			margin-bottom: 80px;
		}
		#perguntas .accordion .float-left{
			max-width: 650px;
		}

	/* --- outros segmentos --- */
		#outros-segmentos .item{
			margin-left: auto;
			margin-right: auto;
		}
		#outros-segmentos .btn-slick-carousel-left{
			left: 45%;
		}
		#outros-segmentos .btn-slick-carousel-right{
			right: 45%;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-solucoes-interno.png)no-repeat 38% top;
			background-attachment: fixed;
		}
		#banner .ml-auto{
			margin-bottom: -70px;
		}
		#banner h1{
			font-size: 35px;
			margin-top: 70px;
			padding-top: 20px;
		}

	/* --- img-bolinhas --- */
		.img-bolinhas{
			display: none;
		}

	/* --- sobre --- */
		#sobre .row{
			padding-top: 0px;
			padding-bottom: 0px;
		}
		#sobre img{
			margin-bottom: 50px;
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- diferencial --- */
		#diferencial .container{
			padding-top: 40px;
		}
		#diferencial .item{
			max-width: 332px;
			margin-bottom: 20px;
		}
		#diferencial .item:nth-child(1),
		#diferencial .item:nth-child(2),
		#diferencial .item:nth-child(3){
			padding: 0px 0px;
		}
		#diferencial .item:nth-child(4),
		#diferencial .item:nth-child(5),
		#diferencial .item:nth-child(6){
			padding: 0px 0px;
		}
		#diferencial .item:nth-child(1),
		#diferencial .item:nth-child(4){
			max-width: 332px;
		}
		#diferencial .item:nth-child(3),
		#diferencial .item:nth-child(6){
			max-width: 332px;
		}
		#diferencial .item img{
			margin-bottom: 11px;
		}
		#diferencial .item h3{
			margin-bottom: 20px;
		}
		#diferencial .item p{
			padding-right: 10px;
			height: 75px;
		}
		#diferencial a.btn{
			margin-top: 15px;
			width: 160px;
		}

	/* --- perguntas --- */
		#perguntas{
			margin-top: 50px;
		}
		#perguntas .accordion{
			margin-bottom: 80px;
		}
		#perguntas .accordion .float-left{
			max-width: 310px;
		}
		#perguntas .accordion button.font-medium{
			font-size: 16px;
		}

	/* --- ligamos --- */
		#ligamos{
			background: url(../imagens/bg/bg-ligamos.png)no-repeat 38% center;
		}
		#ligamos .container{
			padding-top: 0px;
		}
		#ligamos .bg-red{
			position: relative;
			top: 330px;
			margin-left: auto!important;
			padding: 40px 30px 45px 30px;
			margin-right: auto!important;
		}
		
	/* --- outros segmentos --- */
		#outros-segmentos{
			margin-top: 350px;
		}
		#outros-segmentos .item{
			max-width: 334px;
			height: 161px;
		}
		#outros-segmentos .item .imagem{
			height: 161px;
		}
		#outros-segmentos .item .desc{
			padding: 15px 16px 16px 16px
		}
		#outros-segmentos .item hr{
			max-width: 32px;
		}
		#outros-segmentos .item h3{
			font-size: 12px;
			line-height: 15px;
			margin-right: 0px;
		}
		#outros-segmentos .item p{
			font-size: 11px;
			height: 59px;
			line-height: 14px;
		}
		#outros-segmentos .item a.btn{
			width: 93px;
			height: 28px;
			font-size: 10px;
			padding-top: 5px;
			bottom: 8px;
		}
		#outros-segmentos .btn-slick-carousel-left{
			left: 41%;
		}
		#outros-segmentos .btn-slick-carousel-right{
			right: 41%;
		}
}

@media screen and (max-width: 400px) {
	/* --- perguntas --- */
		#perguntas h2{
			font-size: 24px;
		}
		#perguntas .accordion{
			margin-bottom: 80px;
		}
		#perguntas .accordion .float-left{
			max-width: 280px;
		}
		#perguntas .accordion button.font-medium{
			font-size: 16px;
		}
		#perguntas .accordion .card-body p{
			font-size: 14px;
		}
}

@media screen and (max-width: 375px) {
	/* --- perguntas --- */
		#perguntas .accordion .float-left{
			max-width: 230px;
		}

	/* --- outros segmentos --- */
		#outros-segmentos{
			margin-top: 350px;
		}
		#outros-segmentos .container{
			padding-left: 0;
			padding-right: 0;
		}
		#outros-segmentos .btn-slick-carousel-left{
			left: 39%;
		}
		#outros-segmentos .btn-slick-carousel-right{
			right: 39%;
		}

}