/*import*/
@import url("global.css");
@import url("header-footer.css");

/*a[href*="solucoes.html"] {
	color: var(--new-red)!important;
}*/

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-solucoes.png)no-repeat center top;
		/*background-size: cover;*/
		height: 497px;
		background-attachment: fixed;
	}
	#banner .ml-auto{
		width: 42%;
		background-attachment: fixed;
	}
	#banner h1{
		font-size: 45px;
		height: 79px;
		margin-top: 70px;
		padding-top: 13px;
		padding-left: 15px;
	}

/* --- img-borda-red --- */
	.img-borda-red{
		position: absolute;
		margin-top: -250px;
		overflow: hidden;
		z-index: -1;
	}
	.img-borda-red img{
		position: relative;
		left: -290px;
	}

/* --- descricao --- */
	#descricao{
		margin-top: 80px;
		margin-bottom: 60px;
	}
	#descricao p{
		font-size: 13px;
	}
	
/* --- conteudo --- */
	#solucoes{
		background: url(../imagens/bg/img-destaque-2.png)no-repeat center 18%;
		transform: scaleX(-1);
		height: 100%;
	}
	#solucoes .container{
		max-width: 1000px!important;
		transform: scaleX(-1);
		padding-bottom: 100px;
	}
	#solucoes .container .item{
		max-width: 464px;
		background-color: white;
		width: 100%;
		height: 224px;
		border-radius: 15px;
		box-shadow: 0 .2rem .6rem rgba(0,0,0,.15);
		margin-left: 13px;
		margin-right: 13px;
		overflow: hidden;
		margin-bottom: 32px;
	}
	#solucoes .container .item .imagem{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 224px;
	}
	#solucoes .container .item:nth-child(1) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-1.png);
	}
	#solucoes .container .item:nth-child(2) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-2.png);
	}
	#solucoes .container .item:nth-child(3) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-3.png);
	}
	#solucoes .container .item:nth-child(4) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-4.png);
	}
	#solucoes .container .item:nth-child(5) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-5.png);
	}
	#solucoes .container .item:nth-child(6) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-6.png);
	}
	#solucoes .container .item:nth-child(7) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-7.png);
	}
	#solucoes .container .item:nth-child(8) .imagem{
		background-image: url(../imagens/solucoes/img-solucao-8.png);
	}
	#solucoes .container .item .desc{
		padding: 26px 25px 22px 22px
	}
	#solucoes .container .item hr{
		max-width: 45px;
		height: 2px;
		margin-bottom: 5px;
	}
	#solucoes .container .item h3{
		font-size: 15px;
		line-height: 24px;
		margin-right: 5px;
	}
	#solucoes .container .item p{
		font-size: 12px;
		margin-bottom: 0;
		height: 58px;
		overflow-y: auto;
	}
	#solucoes .container .item p::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px!important;
	}
	#solucoes .container .item p::-webkit-scrollbar-track-piece {
	  	background-color: white;
	  	border: 1px solid var(--new-red);
	  	border-radius: 10px!important;
	}
	#solucoes .container .item p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-red);
	}
	#solucoes .container .item a.btn{
		margin-top: 12px;
		width: 130px;
		height: 43px;
		font-size: 13px;
		padding-top: 11px;
		position: absolute;
		bottom: 20px;
	}
	
@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 41%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 39%;
		}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner .ml-auto{
			width: 95%;
			margin-top: auto;
			margin-bottom: -30px;
		}
		
	/* --- img-borda-red --- */
		.img-borda-red{
			display: none;
		}

	/* --- conteudo --- */
		section#solucoes{
			background: unset;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-solucoes.png)no-repeat 38% top;
			background-attachment: fixed;
		}
		#banner .ml-auto{
			margin-bottom: -30px;
		}
		#banner h1{
			font-size: 35px;
			height: 79px;
			margin-top: 70px;
			padding-top: 20px;
		}

	/* --- conteudo --- */
		#solucoes .container{
			padding-bottom: 50px;
		}
		#solucoes .container .item{
			height: 180px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 15px;
		}
		#solucoes .container .item .imagem{
			height: 180px;
		}
		#solucoes .container .item .desc{
			padding: 15px 16px 15px 16px
		}
		#solucoes .container .item hr{
			max-width: 32px;
		}
		#solucoes .container .item h3{
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 5px;
		}
		#solucoes .container .item p{
			height: 72px;
		}
		#solucoes .container .item a.btn{
			width: 93px;
			height: 28px;
			font-size: 10px;
			padding-top: 5px;
			bottom: 12px;
		}
}

@media screen and (max-width: 375px) {
	
}