<div id="item-fixo">
	<a href="#" title="Chat" class="icon-chat">
		<img src="imagens/logos/img-chat.png" alt="Chat" title="Chat">
	</a>
	<a href="https://api.whatsapp.com/send?phone=5541999999999" target="_blank" title="WhatsApp" class="icon-whatsapp">
		<img src="imagens/logos/img-whatsapp.png" alt="WhatsApp" title="WhatsApp">
	</a>
</div>