<!-- topo -->
<div id="top">
	<div class="container">
		<div class="row">
			<div class="col-5 col-md-6 text-left">
				<a href="#" class="d-inline-block" target="_blank">
					<img src="imagens/logos/icon-instagram.png" alt="Instagram" class="img-fluid">
				</a>
				<a href="#" class="d-inline-block" target="_blank">
					<img src="imagens/logos/icon-facebook.png" alt="Facebook" class="img-fluid">
				</a>
				<a href="#" class="d-inline-block" target="_blank">
					<img src="imagens/logos/icon-linkedin.png" alt="LinkedIn" class="img-fluid">
				</a>
				<a href="#" class="d-inline-block" target="_blank">
					<p class="d-none d-lg-block">Rua XV de Novembro, 2152 - 1º andar Sala 06 |  +55 41 3035.7976</p>
				</a>
			</div>

			<div class="col-7 col-md-6 pr-md-0 text-right">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Pesquisar aqui">
			        <div class="input-group-prepend">
			        	<a href="#" class="input-group-text">
			        		<img src="imagens/logos/icon-procurar.png" alt="Pesquisar">
			        	</a>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- navegacao -->
<div class="container navegacao">
	<nav class="navbar navbar-expand-lg bg-transparent px-0">
		<a href="index.html" class="navbar-brand pl-3 pl-xl-0">
			<img src="imagens/logos/logo.png" class="img-fluid" alt="Triunfo">
		</a>
		
		<button class="navbar-toggler border-0 pr-4 pr-xl-0" type="button" data-toggle="collapse" data-target="#navbarSite">
			<img src="imagens/logos/icon-menu.png" alt="Menu">
		</button>

		<div class="navbar-collapse collapse justify-content-end" id="navbarSite">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="index.html" class="nav-link d-md-inline-block">Home</a>
				</li>
				<li class="nav-item">
					<a href="sobre.html" class="nav-link d-md-inline-block">Quem somos</a>
				</li>
				<li class="nav-item">
					<a href="solucoes.html" class="nav-link d-md-inline-block">Soluções</a>
				</li>
				<li class="nav-item">
					<a href="blog.html" class="nav-link d-md-inline-block">Blog</a>
				</li>
				<li class="nav-item">
					<a href="contato.html" class="nav-link d-md-inline-block">Fale conosco</a>
				</li>
			</ul>
		</div>
	</nav>
</div>