<div id="newsletter">
	<div class="container px-lg-2">
		<div class="row align-items-center">
			<div class="col-md-5">
				<hr class="border-white">
				<h2 class="text-white font-semi-bold">Newsletter</h2>
				<p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
			</div>
			<div class="col-md-7 pl-lg-5 pr-lg-0">
				<form>
					<div class="form-row">
						<div class="col-md-6 pl-lg-4 pr-md-3 mb-3 mb-md-0">
							<input type="text" class="form-control" placeholder="Nome">
						</div>
						<div class="col-md-6 pl-md-0">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="E-mail">
						        <div class="input-group-prepend">
						        	<a href="#" class="input-group-text">
						        		<img src="imagens/logos/icon-enviar.png" alt="Enviar">
						        	</a>
						        </div>
							</div>
						</div>
					</div>
				</form>        				
			</div>
		</div>
	</div>
</div>