<aside class="col-12 col-md col-lg px-0 aside d-none d-lg-block" data-aos="fade-up">
	<div class="input-group mb-3">
		<input type="text" class="form-control border-0" placeholder="Pesquise aqui...">
  		<div class="input-group-append">
    		<span class="input-group-text bg-transparent border-0"><img src="imagens/logos/lupa-2.png"></span>
  		</div>
	</div>

	<div class="acessos">
		<h5 class="categorias text-gray-dark font-semi-bold">Categorias</h5>
		<hr>
		<ul class="list pl-0 mt-3 mb-5">
			<li>
				<a href="#" title="Categoria 01">Categoria 01</a>
			</li>
			<li>
				<a href="#" title="Categoria 02">Categoria 02</a>
			</li>
			<li>
				<a href="#" title="Categoria 03">Categoria 03</a>
			</li>
			<li>
				<a href="#" title="Categoria 04">Categoria 04</a>
			</li>
			<li>
				<a href="#" title="Categoria 05">Categoria 05</a>
			</li>
			<li>
				<a href="#" title="Categoria 06">Categoria 06</a>
			</li>
			<li>
				<a href="#" title="Categoria 07">Categoria 07</a>
			</li>
		</ul>

		<h5 class="lidos text-gray-dark font-semi-bold">Mais lidas</h5>
		<hr>
		<ul class="list pl-0 mt-3 mb-5">
			<li class="border-bottom">
				<a href="#">
					<span class="font-semi-bold"></span>Lorem Ipsum Brasil
					<span class="text-red">29/10/2020</span>
				</a>
			</li>
			<li class="border-bottom">
				<a href="#">
					<span class="font-semi-bold"></span>Lorem Ipsum Brasil
					<span class="text-red">29/10/2020</span>
				</a>
			</li>
			<li class="border-bottom">
				<a href="#">
					<span class="font-semi-bold"></span>Lorem Ipsum Brasil
					<span class="text-red">29/10/2020</span>
				</a>
			</li>
		</ul>
		
		<div class="arquivos">
			<h5 class="text-gray-dark font-semi-bold">Arquivos</h5>
			<hr>
			<ul class="list pl-0 mt-3 mb-5">
				<li>
					<a href="#" title="Janeiro">Janeiro 2020 (04)</a>
				</li>
				<li>
					<a href="#" title="Fevereiro">Fevereiro 2020 (02)</a>
				</li>
				<li>
					<a href="#" title="Março">Março 2020 (05)</a>
				</li>
				<li>
					<a href="#" title="Abril">Abril 2020 (07)</a>
				</li>
				<li>
					<a href="#" title="Maio">Maio 2020 (02)</a>
				</li>
				<li>
					<a href="#" title="Junho">Junho 2020 (0)</a>
				</li>
				<li>
					<a href="#" title="Julho">Julho 2020 (02)</a>
				</li>
				<li>
					<a href="#" title="Agosto">Agosto 2020 (04)</a>
				</li>
				<li>
					<a href="#" title="Setembro">Setembro 2020 (06)</a>
				</li>
				<li>
					<a href="#" title="Outubro">Outubro 2020 (20)</a>
				</li>
				<li>
					<a href="#" title="Novembro">Novembro 2020 (14)</a>
				</li>
				<li>
					<a href="#" title="Dezembro">Dezembro 2020 (1)</a>
				</li>
			</ul>
		</div>

		<div class="cadastro">
			<p class="text-red font-semi-bold">Cadastre-se e receba novidades do blog no seu e-mail</p>
			<form>
				<input type="text" name="nome" class="form-control font-regular" placeholder="Nome">
				<input type="email" name="email" class="form-control font-regular" placeholder="E-mail">

				<div class="text-center">
					<a href="#" class="btn btn-red-2">cadastrar <img src="imagens/logos/icon-arrow-right.png" alt="Cadastrar"></a>
				</div>
			</form>
		</div>
	</div>
</aside>