<div class="footer">
	<div class="container px-md-2">
		<div class="row">
			<div class="col-12 col-md-3 pr-md-0 descricao">
				<hr class="border-white">
				<h2 class="text-uppercase font-semi-bold text-white">Agile Comex</h2>
				<p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>

				<div class="redes">
					<a href="#" class="d-inline-block" target="_blank">
						<img src="imagens/logos/icon-instagram.png" alt="Instagram" class="img-fluid">
					</a>
					<a href="#" class="d-inline-block mx-2" target="_blank">
						<img src="imagens/logos/icon-facebook.png" alt="Facebook" class="img-fluid">
					</a>
					<a href="#" class="d-inline-block" target="_blank">
						<img src="imagens/logos/icon-linkedin.png" alt="LinkedIn" class="img-fluid">
					</a>
				</div>
			</div>

			<div class="col-6 col-md-3 menu">
				<hr class="border-white">
				<h2 class="font-semi-bold text-white">Menu</h2>

				<ul class="list-unstyled">
					<li>
						<a href="index.html" class="">Home</a>
					</li>
					<li>
						<a href="sobre.html" class="">Quem somos</a>
					</li>
					<li>
						<a href="solucoes.html" class="">Soluções</a>
					</li>
					<li>
						<a href="blog" class="">Blog</a>
					</li>
					<li>
						<a href="contato.html" class="">Fale conosco</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-md-3 pl-lg-2 fale">
				<hr class="border-white">
				<h2 class="font-semi-bold text-white">Fale conosco</h2>

				<p><a href="#" class="">Rua XV de Novembro, 2152 - 1º andar Sala 06 e 08 - 83005-000 - São José dos Pinhais/PR</a></p>

				<p class="mt-4"><a href="#">+55 41 3035.7976</a></p>
			</div>

			<div class="col-12 col-md-3 px-lg-0 mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.091748649138!2d-49.27817448498573!3d-25.43519598378609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce4725041fc75%3A0x9114444b895d316c!2sRua%20Emiliano%20Perneta%2C%20390%20-%2017%C2%BA%20Andar%20-%20Centro%2C%20Curitiba%20-%20PR%2C%2080420-080!5e0!3m2!1spt-BR!2sbr!4v1624475287497!5m2!1spt-BR!2sbr" class="w-100 border-0 mb-0"></iframe>
			</div>
		</div>
	</div>
</div>

<!-- Copyright -->
<div id="copyright" class="bg-green">
	<div class="container px-md-2">
		<div class="row">
			<div class="col-12 col-md-6 text-center text-md-left mb-3 mb-md-0">
				<p class="mb-0">Copyright | Todos os direitos Reservados Agile</p>
			</div>
			<div class="col-12 col-md-6 text-center text-md-right mb-3 mb-md-0">
				<p class="mb-0">designed by: <a href="https://www.agencia.red/" target="_blank"><img src="imagens/logos/icon-agencia-red.png" alt="Agência Red" class="img-fluid"></a></p>
			</div>
		</div>
	</div>
</div>